openapi: 3.0.1
info:
  title: Codex Cryptica Campaign API
  description: API for managing RPG campaigns, entities, and connections in Codex Cryptica.
  version: 'v1'
servers:
  - url: https://codexcryptica.com
paths:
  /api/entities:
    get:
      operationId: getEntities
      summary: List all entities in the active vault
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entity'
  /api/entities/{id}:
    get:
      operationId: getEntity
      summary: Get details of a specific entity
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
  /api/connections:
    get:
      operationId: getConnections
      summary: List all connections between entities
    post:
      operationId: addConnection
      summary: Create a new connection between two entities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewConnection'
      responses:
        '201':
          description: Created
components:
  schemas:
    Entity:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        type:
          type: string
          enum: [character, location, faction, event, item]
        content:
          type: string
    NewConnection:
      type: object
      properties:
        sourceId:
          type: string
        targetId:
          type: string
        type:
          type: string
          default: related_to
